@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.frame{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  background: #5CA4EA;
  color: #fff;
  font-family: "Open sans",Helvetica,sans-serif;
}

.search{
  position: absolute;
  width: 264px;
  top: 180px;
  height: 44px;
  left: 70px;
  font-size: 0;
  background: #fff;
  box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.1);
  
  .searchfield{
    float: left;
    width: 205px;
    height: 44px;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 0 0 0 15px;
    background: #fff;
    color: #4D8DCB;
    border: 0;
  }
  .button{
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
    background: #fff;
    color: #5CA4EA;
    font-size: 20px;
    padding: 0;
    top: 3px;
    
    span{
      position: relative;
      top: 3px;
    }
    
  }
  
  .suggestions{
    background: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 15px;
    margin: 0;
    position: absolute;
    width: 234px;
    top: 42px;
    list-style: none;
    color: #6E6E6E;
    
    &.active {
			border-top: 1px solid #5CA4EA;
		}
    
    li {
      
			margin: 18px 0;
			padding: 0;
			cursor: pointer;
			
			&:hover {
				color: #4D8DCB;
			}
			
			b {
				font-weight: 600;
			}
		}
		
  }
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
} 

.clearfix::after {
  clear: both;
}