$numberOfDots: 10;
$radius: 200;

.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  background: #16a085;
  color: #fff;
  overflow: hidden;
}

.horizontal{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  .stripe{
    position: relative;
    float: left;
    width: 40px;
    height: 10px;
    background: #fff;
    margin: 15px 0;
    animation: rotate-h 4s ease-in-out infinite;
  }
}

.vertical{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  .stripe{
    position: relative;
    float: left;
    width: 10px;
    height: 40px;
    background: #fff;
    margin: 0 15px;
    animation: rotate-v 4s ease-in-out infinite;
  }
}

@keyframes rotate-h{
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(45deg) translateX(-20px);
  }
  75%{
    transform: rotate(0deg) scaleY(2) scaleX(.5);
  }
  100%{
    transform: rotate(90deg);
  }
  
}

@keyframes rotate-v {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(45deg) translateX(10px);
	}
	75% {
		transform: rotate(45deg) scaleX(2) scaleY(.5);
	}
	100% {
		transform: rotate(90deg);
	}
}
