.frame{
  position:absolute;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  top: 50%;
  left: 50%;
  background: RGB(211, 54, 39);
  border-radius: 3px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  color: #fff;
  overflow: hidden;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  perspective: 350px;
}

.form{
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-25deg);
  transition: all 1s ease-in-out;
  
  &:hover{
    transform: rotateX(25deg);
  }
  
  .slice{
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #D33526;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
  .slice-19{
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    transform: rotateX(90deg);
    animation: slice-21 6s ease-in-out infinite;
  }
  
  @for $i from 1 through 9{
    $size: 200 - (2*($i*$i));
    $offset:($i*15)-(($i*$i)/2);
    .slice-#{$i} {
			width: $size+px;
			height: $size+px;
			left: ((200 - $size) / 2)+px;
			top: ((200 - $size) / 2)+px;
			transform: translateY(($offset)+px) rotateX(90deg);
			animation: slice-#{$i} 6s ease-in-out infinite;
		}
    
    $id: $i + 9;
		.slice-#{$id} {
			width: $size+px;
			height: $size+px;
			left: ((200 - $size) / 2)+px;
			top: ((200 - $size) / 2)+px;
			transform: translateY((-1 * $offset)+px) rotateX(90deg);
			animation: slice-#{$id} 6s ease-in-out infinite;
		}
    @keyframes slice-#{$i} {
			0%, 19% {
				transform: translateY(0) rotateX(90deg);
				opacity: 0;
			}
			20% {
				transform: translateY(0) rotateX(90deg);
				opacity: 1;
				border: 2px solid #fff;
			}
			30% {
				transform: translateY(($offset + ($i * 4))+px) rotateX(90deg);
				border: 2px solid #D33526;
			}
			35% {
				transform: translateY(($offset - ($i * 2))+px) rotateX(90deg);
			}
			40% {
				transform: translateY(($offset + ($i * 1))+px) rotateX(90deg);
			}
			45% {
				transform: translateY(($offset - ($i * .5))+px) rotateX(90deg);
			}
			50%, 65% {
				transform: translateY(($offset)+px) rotateX(90deg);
			}
			70% {
				transform: translateY(($offset + ($i * 4))+px) rotateX(90deg);
				border: 2px solid #D33526;
			}
			80% {
				transform: translateY(0) rotateX(90deg);
				opacity: 1;
				border: 2px solid #fff;
			} 
			81%, 100% {
				transform: translateY(0) rotateX(90deg);
				opacity: 0;
			}
		}
		
		@keyframes slice-#{$id} {
			0%, 19% {
				transform: translateY(0) rotateX(90deg);
				opacity: 0;
			}
			20% {
				transform: translateY(0) rotateX(90deg);
				opacity: 1;
				border: 2px solid #fff;
			}
			30% {
				transform: translateY((-1 * $offset - ($i * 4))+px) rotateX(90deg);
				border: 2px solid #D33526;
			}
			35% {
				transform: translateY((-1 * $offset + ($i * 2))+px) rotateX(90deg);
			}
			40% {
				transform: translateY((-1 * $offset - ($i * 1))+px) rotateX(90deg);
			}
			45% {
				transform: translateY((-1 * $offset + ($i * .5))+px) rotateX(90deg);
			}
			50%, 65% {
				transform: translateY((-1 * $offset)+px) rotateX(90deg);
			}
			70% {
				transform: translateY((-1 * $offset - ($i * 4))+px) rotateX(90deg);
				border: 2px solid #D33526;
			}
			80% {
				transform: translateY(0) rotateX(90deg);
				opacity: 1;
				border: 2px solid #fff;
			} 
			81%, 100% {
				transform: translateY(0) rotateX(90deg);
				opacity: 0;
			}
		}
		
	}
	
}

@keyframes slice-21 {
	0% {
		transform: rotateX(90deg) scale(0);
	}
	10% {
		transform: rotateX(90deg) scale(1.2);
	}
	15% {
		transform: rotateX(90deg) scale(0.9);
	}
	20%, 75% {
		transform: rotateX(90deg) scale(1);
	}
	80% {
		transform: rotateX(90deg) scale(1.2);
	}
	90%, 100% {
		transform: rotateX(90deg) scale(0);
	}
}
