.frame{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  border-radius: 3px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  background: #2C2E2E;
  overflow: hidden;
}
.pacman{
  position: absolute;
  height: 100px;
  width: 100px;
  stroke: #F4D146;
  stroke-width: 50px;
  stroke-linecap: butt;
  fill: none;
  stroke-dasharray: (50*3.14);
  animation: mouth .7s ease-in-out infinite;
  top: 150px;
  left: 150px;
}
.eye{
  position: absolute;
  width: 12px;
  height: 12px;
  top: 167px;
  left: 204px;
  fill: #2C2E2E;
  animation: eye .7s ease-in-out infinite;
}

.dots{
  position: absolute;
  height: 14px;
  width: 240px;
  top: 193px;
  left:180px;
  stroke-width: 14px;
  stroke-dasharray: 0px 50px;
  stroke: #F4D146;
  stroke-linecap: round;
  stroke-dashoffset: 14;
  animation: points .7s linear infinite;
}

@keyframes mouth{
  0%,100%{
    stroke-dashoffset: 0;
    transform: translate3d(0,0,0) rotate(0); 
  }
  50%{
    stroke-dashoffset: (50 * 3.14 / 4);
		transform: rotate(45deg);
  }
}

@keyframes eye{
  0%, 100%{
    transform: translate3d(0,0,0);
  }
  50%{
    transform:  translate3d(-6px,-3px,0);
  }
}
@keyframes points{
  0%{
    stoke-dashoffset: 14;
    transform: translate3d(0,0,0);
  }
  100%{
    stroke-dashoffset: 64;
  }
}