.frame{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  background: #EA4C89;
  font-size: 0;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.line{
  width: 225px;
  height: 2px;
  background: #fff;
  margin: 15px 0;
  animation: line .6s ease-out both;
  
}

.text{
  stroke: #EA4C89;
  stroke-dasharray: 270;
  stroke-dashoffset: 0;
  
  .a1{
    fill: #fff;
    stroke-width: 6;
    animation: fill 1.2s ease-in-out both;
	}
	
	.a2 {
		fill: none;
		stroke-width: 12;
		animation: fill 1.7s ease-in-out both;
	}
	
	.a3 {
		fill: none;
		stroke-width: 18;
		animation: fill 2.2s ease-in-out both;
	}
	
}

@keyframes fill {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 270;
	}
}

@keyframes line {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
