.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  width: 400px;
  height: 400px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 2px;
  background: #404556;
}

#bulb{
  position: absolute;
  z-index: 2;
  top: 134px;
  left: 162px;
  fill: #FFF35C;
  transition: all .5s ease-in-out;
  cursor: pointer;
  
  &:hover{
    fill: #8C8F99;
  }
}

#glow{
  position: absolute;
  width: 76px;
  height: 76px;
  background: #FFF35C;
  border-radius: 50px;
  box-shadow: 0 0 50px 10px #FFF35C;
  top: 134px;
  left: 162px;
  transition: all .5s ease-in-out;
}

#bulb:hover ~ #glow{
  opacity: 0;
}

#base{
  position:absolute;
  top: 233px;
  left: 184px;
  fill: #E5E5E5;
}